# PyTorch (use latest compatible version with your CUDA)
torch==2.5.1
# # Hugging Face Transformers library
transformers==4.48.0

# # Hugging Face Datasets library
datasets==3.2.0

# # Optional dependencies
# numpy>=1.21.6
# scipy>=1.7.3
# pandas>=1.3.3
# pygments>=2.11.2
